NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id
NEXT_PUBLIC_TREASURY_ADDRESS=your_treasury_contract_address
NEXT_PUBLIC_SOURCE_TOKEN_ADDRESS=your_source_token_contract_address
NEXT_PUBLIC_TARGET_TOKEN_ADDRESS=your_target_token_contract_address
NEXT_PUBLIC_DELEGATION_HUB_ADDRESS=your_delegation_hub_contract_address
NEXT_PUBLIC_REGISTRY_ADDRESS=your_registry_contract_address